<!DOCTYPE html>
<html>
  <head>
    <title>Todo List 1</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

  </head>

  <body>
    <nav>
    <% if @current_user == nil %>
    <a href="/user_sign_in">Sign in</a> 
    |
    <a href="/user_sign_up">Sign up</a> 
    <% else %>
    <a href="/">Your todo list</a> 
    |
    <a href="/edit_user_profile">Edit profile</a> 
    |
    <a href="/user_sign_out">Sign out</a>
    <% end %>
    </nav>

    <%= yield %>

    <footer>
    <p>Or, <a href="/user_sign_up">Sign up</a> instead.</p>
    </footer>
  </body>
</html>
